// CSS CONTENT
.contact {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: $color-black-2;
    color: #6b7782;
    line-height: 26px;
    .contact__right {
        margin-bottom: 40px;
        // margin: 0 20px;
    }
    .contact__element--logo {
        display: flex;
        align-items: center;
        .logo--image {
            width: 70px;
            height: 70px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .logo--name {
            font-size: 39px;
            padding: 0;
            color: #ffffff;
            font-weight: 900;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 1.5px;
            p {
                &:first-child {
                    margin-bottom: 10px;
                    font-weight: 500;
                }
            }
        }
    }
    .contact__element--description {
        padding: 50px 0 70px 0;
    }
    .contact__element--address {
        padding-bottom: 30px;
        border-bottom: 1px dotted $color-gray-10;
        i {
            margin-right: 15px;
        }
    }
    .contact__element--info {
        padding-top: 15px;
        .info--item {
            margin-top: 9px;
            i {
                margin-right: 8px;
            }
            a {
                color: $color-green-6;
            }
        }
    }
    .post__item {
        display: flex;
        &:nth-child(2) {
            padding: 12px 0;
            margin: 12px 0;
            border-top: 1px dashed $color-gray-10;
            border-bottom: 1px dashed $color-gray-10;
        }
        .post__logo {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: $color-gray-11;
            margin-right: 10px;
        }
        .post__description {
            flex: 1;
            span {
                color: $color-green-0;
            }
        }
    }
    .contact__element--email {
        .email__name {
            position: relative;
            @include styleFormSearch(12px, 16px, 16px, 16px, #3e434f, #394050, #181828, 2px, #c6ced5);
        }
        .email__address {
            @extend .email__name;
            margin: 15px 0;
        }
        .email__message {
            textarea {
                width: 100%;
                background-color: #181828;
                border: 1px solid #394050;
                border-radius: 2px;
                color: #c6ced5;
                font-size: 18px;
            }
        }
        .email__button {
            width: 100%;
            margin-top: 12px;
            font-family: $fm-1;
            @include styleButton(15px, 70px, 14px, 900, #8998a4, #394050, 1px, #394050, 2px)
        }
    }
    .element--flickr--item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        .flickr__item {
            background-color: $color-gray-8;
            height: 80px;
            min-width: 33.33333%;
            &:nth-child(odd) {
                background-color: $color-gray-11;
            }
        }
    }
    .links__item {
        ul {
            list-style-position: inside;
            li {
                padding: 10px 0;
                border-bottom: 1px dashed $color-gray-10;
                cursor: pointer;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }
                &::marker {
                    color: $color-green-6;
                    margin-right: 20px;
                }
                &:hover a {
                    color: $color-green-6;
                }
                &:hover::marker {
                    color: #ffffff;
                }
                a {
                    text-decoration: none;
                    color: #6b7782;
                }
            }
        }
    }
    .contact__element--project {
        text-align: center;
        padding-top: 15px;
        .project__item {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
            .project-detail {
                background-color: $color-gray-8;
                height: 80px;
                min-width: 33.33333%;
                &:nth-child(odd) {
                    background-color: $color-gray-11;
                }
            }
        }
        .project__item--radio {
            margin-top: 20px;
        }
    }
    .newsletter__description {
        padding-bottom: 20px;
    }
    .email--address {
        display: flex;
        margin: 12px 0;
        border-radius: 3px;
        input {
            flex: 1;
            padding: 13px 18px;
            background-color: $color-black-4;
            color: #8998a4;
            border: 1px solid $color-black-5;
            &:focus {
                outline: none;
            }
        }
        button {
            width: 55px;
            background-color: $color-black-5;
            color: $color-gray-3;
            border: none;
            cursor: pointer;
            font-size: 18px;
            &:hover {
                color: $color-white-4;
                background-color: $color-gray-13;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .newsletter__personal {
        font-size: 14px;
        color: $color-gray-12;
        span {
            color: $color-green-0;
        }
    }
}

// RESPONSIVE
@media only screen and (max-width:576px) {
    .title__common--white {
        text-align: center;
        margin-bottom: 20px;
        text-decoration: underline;
    }
    .contact {
        padding: 20px 10px;
        .contact__element--logo {
            justify-content: center;
            .logo--image {
                width: 45px;
                height: 45px
            }
            .logo--name {
                font-size: 25px;
                letter-spacing: 0.5px;
                p {
                    &:first-child {
                        margin: 0;
                    }
                }
            }
        }
        .contact__element--description {
            padding: 20px 0;
        }
        .contact__element--address {
            padding-bottom: 15px;
        }
        .contact__element--bottom {
            padding-bottom: 20px;
        }
        .contact__right {
            margin-bottom: 40px;
        }
    }
}

@media screen and (min-width:576px) and (max-width:740px) {
    .title__common--white {
        text-align: center;
        margin-bottom: 20px;
        text-decoration: underline;
    }
    .contact {
        padding: 20px 10px;
        .contact__element--logo {
            justify-content: center;
            .logo--image {
                width: 55px;
                height: 55px
            }
            .logo--name {
                font-size: 35px;
                letter-spacing: 1.5px;
                p {
                    &:first-child {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .contact__element--description {
            padding: 20px 0;
        }
        .contact__element--address {
            padding-bottom: 15px;
        }
        .contact__element--bottom {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        .contact__right {
            margin-bottom: 40px;
        }
    }
}

@media screen and (min-width:740px) and (max-width: 1023px) {
    .title__common--white {
        margin-bottom: 10px;
    }
    .contact {
        padding: 30px 10px;
        .contact__element--logo {
            .logo--image {
                width: 65px;
                height: 65px
            }
            .logo--name {
                font-size: 40px;
                letter-spacing: 2px;
                p {
                    &:first-child {
                        margin-bottom: 8px;
                    }
                }
            }
        }
        .contact__element--description {
            padding: 20px 0;
        }
        .contact__element--address {
            border-bottom: none;
            padding-top: 50px;
        }
        .contact__element--bottom {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        .contact__right {
            margin-bottom: 40px;
        }
        .contact__element--info {
            padding-top: 0;
            .info--item {
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

@media screen and (min-width:1023px) and (max-width: 1239px) {}