//Color
$color-black-0: #000000;
$color-black-1: #3c3950;
$color-black-2: #212331;
$color-black-3: #404145;
$color-black-4: #181828;
$color-black-5:#394050;
$color-black-6:#333146;
//
$color-white-0: #ffffff;
$color-white-1: #f7f7f7;
$color-white-2: #f0f3f2;
$color-white-3: #e7ecec;
$color-white-4: #dbd7d7;
//
$color-gray-0: #99a4ab;
$color-gray-1: #5f727f;
$color-gray-2: #93a2ae;
$color-gray-3: #99a9b5;
$color-gray-4: #4a4b5b;
$color-gray-5: #5f727f;
$color-gray-6: #dfe5e8;
$color-gray-7: #f4f6f7;
$color-gray-8: #b6c6c9;
$color-gray-9: #88949d;
$color-gray-10: #50586a;
$color-gray-11: #4b565d;
$color-gray-12: #454656;
$color-gray-13: #7f848d;
//
$color-green-0: #00bcd4;
$color-green-1: #1fd0b6;
$color-green-2: #02c2a9;
$color-green-3: #168a53;
$color-green-4: #02b09a;
$color-green-5: #d1edac;
$color-green-6: #05a5bb;
$color-blue-0: #4a73e8;
$color-yellow: #ffc107;
$color-red: red;
//Font-family
$fm-0: 'Source Sans Pro',
sans-serif;
$fm-1: 'Montserrat',
sans-serif;
//Font-size
$fs-0: 14px;
$fs-1: 16px;
$fs-2: 27px;
$fs-3: 18px;
$fs-4: 22px;
//Font-weight
$fw-0: 700;
$fw-1: 600;
$fw-2: 400;
$fw-3: 500;
$fw-4: 900;
$fw-5: normal;
$fw-6: 300;
//Padding
$pd-0: 7px;
$pd-1: 20px;
$pd-2: 28px;
$pd-3: 30px;
$pd-4: 15px;
$pd-5: 8px;
$pd-6: 10px;
$pd-7: 45px;
//Margin
$mg-0: 8px;
$mg-1: 12px;
$mg-2: 5px;
$mg-3: 10px;
$mg-4: 14px;
$mg-5: 18px;
$mg-6: 32px;
$mg-7: 24px;
$mg-8: 60px;
//Border-darius
$border-darius-0: 3px;
//line-height
$line-height-0: 24px;